/* import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* utilities  */



body {

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;


}

main {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}



.container {


    background-image: url(/assets/images/wcup_cover.jpg);

    background-position: unset;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #161616;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    border-radius: 30px;




}

.container img {
    width: 100%;
}

.container h1 {

    color: white;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}

.container p {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}



/* top-banner section  */

.top-banner {
    max-height: auto;
}

/* top-banner-button */

.top-banner a {
    color: white;
    text-decoration: none;
    background-color: #DD0000;
    padding-top: 16px;
    padding-left: 25px;
    padding-bottom: 16px;
    padding-right: 25px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.6s;
    outline: none;
}

.top-banner a:hover {
    box-shadow: inset 300px 0 0 0 #f9e506;
    cursor: pointer;
    color: #000;
}


.top-banner-text {
    margin-top: 111px;
    margin-left: 106px;
    margin-bottom: 111px;
    width: 531px;
    height: 434px;
}



.top-banner-image img {
    width: 100%;
}



/* nav bar and button properties */


nav ul {
    list-style: none;
    width: 312px;

    padding: 10px;




}

li {

    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}


.nav-container {
    background-color: black;
    width: 312px;
    height: 312px;
    margin-left: -360px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;


}




.button-white {
    background-color: white;
    color: black;
    width: 252px;
    height: 64px;
    border-radius: 10px;

}

.button-white:hover {

    cursor: pointer;
    color: white;
    background-color: red;


}

.button-red {
    background-color: red;
    color: white;
    width: 252px;
    height: 64px;
    border-radius: 10px;

}

.button-red:hover {
    box-shadow: inset 300px 0 0 0 #f9e506;
    cursor: pointer;
    color: black;
}




/* blog section  */

.blog-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6px;
    width: 900px;
    margin-top: 30px;
    margin-left: 370px;
}







.blogs {

    display: flex;
    margin-top: 20px;
    flex-direction: column;
    border: 1px solid #E8E8E8;

}

.blogs img {
    width: 100%;

}

.blogs h4 {
    font-size: 16px;
    color: #161616;
    border: 2px solid black;
    line-height: 24px;
    font-weight: 500;

}

.blogs p {

    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: #161616;
}




.t-box {
    width: 100px;
    height: 32px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}





/* analytics icon */

.analytics {

    display: flex;
    justify-content: space-between;
}



.time,
.comment {
    display: flex;
    justify-content: center;
    align-items: center;

}

.comment p {
    font-size: 14px;
    line-height: 26px;
    color: #161616;
    opacity: 70%;
    margin-left: 6px;




}

.time p {
    font-size: 14px;
    line-height: 26px;
    color: #161616;
    opacity: 70%;
    margin-left: 6px;


}

/* hr  */
hr {
    width: 13320px;
    background-color: #FFFFFF;
    opacity: 10%;
}

/* footer */


footer {

    color: white;
    background-color: #161616;
    padding: 30px;


}

footer h1 {
    text-align: center;
}

footer ul {

    display: inline-block;

}

footer a {

    display: flex;
    color: #B9B9B9;
    text-decoration: none;
    float: left;
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
}


.inline {

    width: 100%;
    display: inline-flex;
    justify-content: center;

}


/* Social Icon */

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-icon {
    padding: 2px;
}


/* Devices Accelaration */

@media screen and (min-width: 687px) and (max-width: 992px) {

    .container {

        grid-template-columns: repeat(2, 1fr);
        display: grid;


    }

    .top-banner {

        width: 100%;
    }

    .top-banner img {

        width: 100%;
        margin-left: -150px;
        margin-top: 230px;

    }

    /* container image test  
    .container img {
        width: 500px;
        margin-left: -150px;
        margin-top: 230px;
   margin-left: -130px;
        margin-top: 270px;
    }
*/


    .blog-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
        column-gap: 6px;
        width: 100%;
        margin-top: 280px;
        margin-right: 380px;
    }

    .blog-section img {
        width: 100%;
    }

    /* responsive nav  */


    .nav-container-2 {
        background-color: black;
        width: 312px;
        height: 312px;
        margin-left: -360px;
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        position: absolute;
        display: grid;


    }


    /* responsive naav end  */

    .nav-container {
        background-color: transparent;

        position: absolute;
        margin-left: 240px;
        margin-top: -260px;



    }

    nav ul {

        display: flex;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        margin-left: 20px;




    }



    .button-white {

        border: 1px solid black;





    }
}

/* mobile quries */
/* mobile device */

@media screen and (max-width:688px) {



    .container {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;





    }

    /* top-banner txt  */

    .top-banner-text {
        text-align: center;
        margin-right: 90px;
    }

    /* nav responsive */
    .nav-container {
        background-color: transparent;

        display: flex;
        position: relative;
        margin-top: -200px;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
        margin-top: 0px;



    }

    .nav-container a {
        border: 1px solid black;
        ;
    }

    .blog-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        column-gap: 6px;
        width: 100%;
        margin-top: 30px;
        margin-right: 380px;

    }

    .blog-section img {
        width: 100%;
    }

    .inline {
        display: grid;
        grid-template-columns: (1, 1fr);

    }


    .inline a {
        display: flex;


    }



}