/* import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* utilities  */
body {

    font-family: 'Poppins', sans-serif;


}

main {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {

    background-color: #161616;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1321px;
    height: auto;
    border-radius: 30px;



}

.container h1 {

    color: white;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}

.container p {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}



/* top-banner section  */

.top-banner {}

/* top-banner-button */

.top-banner a {
    color: white;
    text-decoration: none;
    background-color: #DD0000;
    padding-top: 16px;
    padding-left: 25px;
    padding-bottom: 16px;
    padding-right: 25px;
    border-radius: 5px;
}


.top-banner-text {
    margin-top: 111px;
    margin-left: 106px;
    margin-bottom: 111px;
    width: 531px;
    height: 434px;
}


.top-banner-image {}

.top-banner-image img {
    width: 100%;
}



/* nav bar and button properties */

.blog-section {}

.nav-container {}

.nav-container a {
    text-decoration: none;



}

.nav-container ul {
    list-style-type: none;
}

.nav-bar-box {}

.ul-list {}



/* blog section  */

.blog-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6px;
    width: 812px;
}







.blogs {

    display: flex;
    margin-top: 20px;
    flex-direction: column;
    border: 1px solid #E8E8E8;

}

.blogs img {
    width: 100%;

}

.blogs h4 {
    font-size: 16px;
    color: #161616;
    border: 2px solid black;
    line-height: 24px;
    font-weight: 500;

}

.blogs p {

    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: #161616;
}



.blog {}

.t-box {
    width: 100px;
    height: 32px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.t-title {}


/* analytics icon */

.analytics {

    display: flex;
    justify-content: space-between;
}

.time {}


.time,
.comment {
    display: flex;
    justify-content: center;
    align-items: center;

}

.comment p {
    font-size: 14px;
    line-height: 26px;
    color: #161616;
    opacity: 70%;
    margin-left: 6px;




}

.time p {
    font-size: 14px;
    line-height: 26px;
    color: #161616;
    opacity: 70%;
    margin-left: 6px;


}